.commonBody {
  padding-top: $header-height;

  p , h2 , dt , dd , h4 , .container {
    font-weight: 700;
  }

  .cs {
    font-weight: 300;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: #8fc320;
    margin-top: 40px;
  }

  .csDescription {
    font-size: 20px;
    margin-top: 0;
  }

  .year {
    font-size: 70%;
  }

  &_schedule {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      min-width: 50%;

      a,
      a:active,
      a:focus,
      a:hover {
        font-weight: bold;
        color: #888;
      }

      &.active a,
      &.active a:active,
      &.active a:focus,
      &.active a:hover {
        background-color: $brand-sub-color;
        color: $brand-sub-text-color;
        border: 0;
        border-bottom: 1px solid $brand-sub-color;
        font-weight: bold;
      }
    }
  }
}
