.section {
  padding: 80px 0;
  border-bottom: 1px solid #ddd;

  &:nth-child(even) {
    background-color: #fff;
  }

  &_title {
    text-align: center;
    line-height: 1.4;
    color: #000;
    font: {
      size: 2.2em;
    }
    margin: {
      top: 0;
      bottom: 40px;
    }

    + .section_subTitle {
      margin-top: -30px;
      margin-bottom: 50px;
      color: #888;
    }
  }

  &_subTitle {
    text-align: center;
  }

  &_body {
    text-align: center;
  }

  &_eventNote {
    text-align: left;
    dd {
      margin-bottom: 10px;
      word-wrap: break-word;
      .date {
        display: block;
        font: {
          size: 2em;
        }
      }
    }
  }

  h3 {
    margin: 1.6em 0 .8em;
    font: {
      size: 1.5em;
      weight: normal;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 40px 0;

    &_title {
      font-size: 1.7em;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.4em;
    }
  }

  .instagram {
    width: 90%;
    margin: 0 auto 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  .instagram li {
    padding: 20px;
  }

  .instagram li img {
    width: 320px;
    height: auto;
  }

  @media screen and (max-width: 47.9375em) {
    .instagram li {
      width: 40%;
      padding: 10px;
    }

    .instagram li img {
      width: 100%;
    }
  }
}

.section-wow {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}