---
title: 個人情報の取扱いについて
description: 仙台IT文化祭 における個人情報の取扱いについてご説明します。
---

.container
  .pageHeader
    h1.pageHeader_title = current_page.data.title

  article.article
    .article_body
      p 本イベントへの参加登録にあたり、個人情報（氏名・会社名・部署名・役職名・電話番号・メールアドレスなど）についてご記入いただきます。記入された個人情報は、仙台IT文化祭 運営事務局により厳密に管理・保護されます。

      h3 1. 個人情報の利用目的
      p 本イベントの参加登録及び当日の受付で取得した個人情報は、以下の目的に利用されます。
      ul
        li 参加のお申込受付および詳細等のご連絡
        li 本イベントの運営管理、次回開催のご案内
        li 当社に関する情報のご案内

      h3 2. 個人情報の第三者提供について
      p ご提供いただいた個人情報について、下記の目的に限り第三者提供することがあります。
      ul
        li 協賛企業の提供する製品・サービスに関する情報の配信
        li 協賛企業のマーケティング活動または採用活動に関する情報の配信

      h3 3. その他
      p 個人情報の提出は任意です。ただし、ご提出いただけない場合はご本人に本イベントに参加いただけない場合があります。その他、本イベントの登録情報に関するお問い合わせは下記へご連絡ください。

      h2 お問い合わせ
      p 仙台IT文化祭 実行委員会
      p
        | 運営事務局:
        i.fa.fa-fw.fa-user
        | 関 満徳
        br
        i.fa.fa-fw.fa-envelope-o
        =< link_to 'fullvirtue@vivaceplus.com', 'mailto:fullvirtue@vivaceplus.com', target: '_blank'
