---
title: タイムテーブル
descriptipon: カンファレンスのタイムテーブルについて紹介します。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  .schedule
    .alert.alert-info
      | タイムテーブルは一部調整中です 🙏🏻
      br
      | 時刻や内容に変更が入る可能性があります。ご了承ください。

  .schedule
    ul
      li 
        a href="contents-net" .NET学科
      li 
        a href="contents-holo" HoloLens学科
      li 
        a href="contents-iot" IoT学科
      li 
        a href="contents-it-exhibition" IT体験展示
      li 
        a href="contents-itm" IT妄想学科
      li 
        a href="contents-ossjava" OSS/Java学科
      li 
        a href="contents-apl" アプリケーション学科
      li 
        a href="contents-cloud" クラウド学科
      li 
        a href="contents-c-seminar" こどもITゼミ
      li 
        a href="contents-office" 俺達のOffice学科
      li 
        a href="contents-s-seminar" 学生ITゼミ
      li 
        a href="contents-s-exhibition" 学生IT展示
      li 
        a href="contents-s-activity" 学生IT部活
      li 
        a href="contents-break" 休憩IT部活
      li 
        a href="contents-motivation" 生産性・モチベーション向上学科
      li 
        a href="contents-a-seminar" 大人ITゼミ
      li 
        a href="contents-a-exhibition" 大人IT展示

  .schedule
    h2.schedule_title#contents-net .NET学科
    .tab-content
      .tab-pane.active
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>13:00 - 13:05
              .scheduleTable_line_time_min 5min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TetsuroTakao.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 学科長ご挨拶
                .scheduleTable_line_speaker .NETラボ 髙尾 哲朗 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>13:05 - 13:55
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/MadokaChiyoda.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [28-203-2] Mobile Center を使って、モバイルアプリ開発/運用をいい感じにやろう！
                .scheduleTable_line_speaker マイクロソフト コマーシャル・ソフトウェア・エンジニアリング本部 テクニカルエバンジェリスト 千代田 まどか 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>14:10 - 15:00
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TomokazuKizawa.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [28-203-3]ユニバーサル Windows プラットフォーム (UWP) アプリ開発 概要
                .scheduleTable_line_speaker .NETラボ	木澤 朋和 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>15:25 - 16:15
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TetsuroTakao.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [28-203-4] インテリジェントクラウドを担う Microsoft Graph
                .scheduleTable_line_speaker .NETラボ	髙尾 哲朗 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>16:30 - 17:20
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/FujioKojima.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [28-203-05] 初心者から上級者まで楽しめる！ドキドキ・ライブゴーデイング対決！
                .scheduleTable_line_speaker 福井コンピュータアーキテクト株式会社/Microsoft MVP Jul. 2005 - Jun. 2018 小島 富治雄 氏

          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/RyotaMurohosi.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker 室星 亮太 氏 (@RyotaMurohoshi)

          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TakaakiSuzuki.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker 株式会社グラニ/Microsoft MVP Jul. 2012 - Jun. 2018 鈴木 孝明 氏 (@xin9le)

          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/MitsuhitoIshino.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker 石野 光仁 氏 (@AILight)
    
  .schedule
    h2.schedule_title#contents-holo HoloLens学科
    .tab-content
      .tab-pane.active
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-29<br/>13:00 - 13:05
              .scheduleTable_line_time_min 5min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/KaoruNakamura.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 学科長ご挨拶
                .scheduleTable_line_speaker Microsoft MVP/HoloLab/HoloMagicians/TMCN 中村 薫 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-29<br/>13:05 - 13:55
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/KaoruNakamura.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [29-203-2] HoloLens/Windows MR概要
                .scheduleTable_line_speaker Microsoft MVP/HoloLab/HoloMagicians/TMCN 中村 薫 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-29<br/>14:10 - 15:00
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/AkiraHatsune.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [29-203-3] HoloLens/Windows MR開発入門
                .scheduleTable_line_speaker Microsoft MVP/HoloLab/HoloMagicians/TMCN 初音 玲 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-29<br/>15:25 - 16:15
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/AkihiroUeyama.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [29-203-4] Academy 250から見るHoloLensとWindows MRデバイスの連携
                .scheduleTable_line_speaker HoloLab/HoloMagicians 上山 晃弘 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-29<br/>16:30 - 17:20
              .scheduleTable_line_time_min 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TomoshiMaemoto.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [29-203-05] HoloLensとさまざまなデバイス連携ドドンドーン 
                .scheduleTable_line_speaker Microsoft MVP/HoloLab/HoloMagicians/TMCN 前本 知志 氏

  .schedule
   h2.schedule_title#contents-iot IoT学科
    .tab-content
      .tab-pane.active
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>10:00 - 10:15
              .scheduleTable_line_time_min 15min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TomonoriYako.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 学科長ご挨拶
                .scheduleTable_line_speaker 株式会社ウフル 兼 エグゼクティブコンサルタント 八子 知礼
            
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>10:15 - 11:45
              .scheduleTable_line_time_min 90min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/TomonoriYako.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_title [29-203-2] HoloLens/Windows MR概要
                .scheduleTable_line_speaker 株式会社ウフル 兼 エグゼクティブコンサルタント 八子 知礼 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/KoizumiKoji.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker 株式会社アールジーン / IoTNEWS 代表 小泉 耕二 氏
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/KojiOzeki.jpg
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker 株式会社セカンドファクトリー 代表取締役 CEO & CVO / ブエナピンタ株式会社 代表取締役 CEO & CVO 大関 興治 氏
    
  .schedule
   h2.schedule_title#contents-it-exhibition IT体験展示
    .tab-content
      .tab-pane.active
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 楽天テクノロジーアンカンファレンス /  オープンスペーステクノロジー
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title Unity勉強会レポート
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title エンジニアのお金の話
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 太極拳×IT 
    
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title カラダほぐす
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title シニアプログラミング
            
          .scheduleTable_line
            .scheduleTable_line_time 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title JAZZフェスのIT関連の話
            
  .schedule
   h2.schedule_title#contents-itm IT妄想学科
    .tab-content
      .tab-pane.active
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time 2017-10-28<br/>10:15 - 11:45
              .scheduleTable_line_time_min 90min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon ../assets/images/speakers/blank_user.png
              .scheduleTable_line_descriptions
                .scheduleTable_line_title 学科長ご挨拶
                .scheduleTable_line_speaker 株式会社ウフル 兼 エグゼクティブコンサルタント 八子 知礼
    
  .schedule
   h2.schedule_title#contents-ossjava OSS/Java学科
    
  .schedule
   h2.schedule_title#contents-apl アプリケーション学科
    
  .schedule
   h2.schedule_title#contents-cloud クラウド学科
    
  .schedule
   h2.schedule_title#contents-c-seminar こどもITゼミ
    
  .schedule
   h2.schedule_title#contents-office 俺達のOffice学科
    
  .schedule
   h2.schedule_title#contents-s-seminar 学生ITゼミ
    
  .schedule
   h2.schedule_title#contents-s-exhibition 学生IT展示
    
  .schedule
   h2.schedule_title#contents-s-activity 学生IT部活
    
  .schedule
   h2.schedule_title#contents-break 休憩IT部活
    
  .schedule
   h2.schedule_title#contents-motivation 生産性・モチベーション向上学科
    
  .schedule
   h2.schedule_title#contents-a-seminar 大人ITゼミ
    
  .schedule
   h2.schedule_title#contents-a-exhibition 大人IT展示


