---
title: タイムテーブル
descriptipon: カンファレンスのタイムテーブルについて紹介します。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  .schedule
    .alert.alert-info
      | タイムテーブルは一部調整中です 🙏🏻
      br
      | 時刻や内容に変更が入る可能性があります。ご了承ください。

