---
title: タイムテーブル
descriptipon: カンファレンスのタイムテーブルについて紹介します。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  / .schedule
  /   .alert.alert-info
  /     | タイムテーブルは一部調整中です 🙏🏻
  /     br
  /     | 時刻や内容に変更が入る可能性があります。ご了承ください。
  /     
  /   h2.schedule_title
  /     | 10/24 (月)
  /   / ul.nav.nav-tabs
  /   /   li.active
  /   /     =link_to '10/24 (月)', '#day1', 'data-toggle' => 'tab'
  /   .tab-content
  /     .tab-pane.active#day1
  /       .scheduleTable
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 08:45 - 09:45
  /           .scheduleTable_line_session-all.break
  /             | Registration
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 09:45 - 10:00
  /             .scheduleTable_line_time_min
  /              | 15min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'pmconf_ico.png', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | Welcome Talk
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:00 - 10:45
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/HirotoTokusei.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/tokusei/">世界を変えるプロダクトマネージャーになるために</a>
  /               .scheduleTable_line_speaker
  /                 | by グーグル株式会社 製品開発本部長 徳生 裕人 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:45 - 10:55
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:55 - 11:40
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TakaakiUmada.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/umada/">ゼロから始めるPM生活</a>
  /               .scheduleTable_line_speaker
  /                 | by 東京大学 本郷テックガレージ ディレクター 馬田 隆明 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 11:40 - 11:50
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 11:50 - 12:10
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/HiroshigeUmino.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/increments/">Product Team Management</a>
  /               .scheduleTable_line_speaker
  /                 | by Increments株式会社 CEO / Qiita:Team PM 海野 弘成 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 12:10 - 13:00
  /             .scheduleTable_line_time_min
  /              | 50min
  /           .scheduleTable_line_session-all.break
  /             | Lunch Break
  /           .scheduleTable_line_session-all.break
  /             .scheduleTable_line_speaker
  /               | 参加者全員分のランチをご用意しております。
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:00 - 13:45
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TakumaIwasa.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/iwasa/">IoTスタートアップにおけるPMの役割と注意すべきこと</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社Cerevo CEO 岩佐 琢磨 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:45 - 13:55
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:55 - 14:15
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TsuyoshiKitagawa.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/microsoft/">マイクロソフトによる「見える化」の民主化（Power BI 活用術）</a>
  /               .scheduleTable_line_speaker
  /                 | by 日本マイクロソフト株式会社 クラウド＆エンタープライズビジネス本部 北川 剛 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TsuyoshiMatsuzaki.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_speaker
  /                 | by 日本マイクロソフト株式会社 テクニカル・エバンジェリスト 松崎 剛	氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 14:15 - 14:35
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/AtsushiKobayashi.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/dena/">大規模システム開発におけるプロダクトマネージメントについて</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社ディー・エヌ・エー オープンプラットフォーム事業本部 システム開発部 部長 小林 篤 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 14:35 - 14:45
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 14:45 - 15:30
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/DaisukeSasaki.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/freee/">絶対失敗すると言われたプロダクトを成功させること</a>
  /               .scheduleTable_line_speaker
  /                 | by freee株式会社 代表取締役 佐々木 大輔 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 15:30 - 15:50
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 15:50 - 16:10
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/MasayukiMiki.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/justsystem/">現役23名のPM：タイプ別マネジメントパターン</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社ジャストシステム 取締役CDO 最高開発責任者 三木 雅之 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:10-16:30
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/KentaKobayashi.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/mobilefactory/">運用５年の位置ゲームの新米プロダクト開発</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社モバイルファクトリー ソーシャルアプリ事業部 マネージャー 小林 謙太 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:30 - 16:40
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:40 - 17:25
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TakujiIkeda.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/cookpad/">毎日の料理のためのプロダクト開発</a>
  /               .scheduleTable_line_speaker
  /                 | by クックパッド株式会社 VP of Product Design 池田 拓司 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 17:25 - 17:35
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 17:35 - 18:20
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/MitsuruSaito.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/rakuten/">Product Manager という仕事</a>
  /               .scheduleTable_line_speaker
  /                 | by 楽天株式会社 Senior Manager 齊藤 満 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:20 - 18:30
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:30 - 18:40
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'pmconf_ico.png', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | Day 1 Closing
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:40 - 19:30
  /             .scheduleTable_line_time_min
  /              | 50min
  /           .scheduleTable_line_session-all
  /             | <a href="http://pmconf.jp/sessions/2016/10/03/networking/">Networking Party</a> #1
  / 
  / .schedule
  /   h2.schedule_title
  /     | 10/25 (火)
  /   / ul.nav.nav-tabs
  /   /   li.active
  /   /     =link_to '10/25 (火)', '#day2', 'data-toggle' => 'tab'
  /   .tab-content
  /     .tab-pane.active#day1
  /       .scheduleTable
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 08:45 - 09:45
  /           .scheduleTable_line_session-all.break
  /             | Registration
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 09:45 - 10:00
  /             .scheduleTable_line_time_min
  /              | 15min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'pmconf_ico.png', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | Welcome Talk
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:00 - 10:30
  /             .scheduleTable_line_time_min
  /              | 30min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/DavidHussman.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/davidhussman/">プロセスからプロダクトへ</a>
  /               .scheduleTable_line_speaker
  /                 | by DevJam David Hussman 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:30 - 10:40
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 10:40 - 11:00
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/YusakuWatanabe.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/cyberagent/">エンジニアがプロダクトマネージャーに進化すると何が起きるのか</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社サイバーエージェント プロダクトマネージャー 渡邉 雄作 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 11:00 - 11:20
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TeruyukiTerada.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/enjapan/">“失敗事例で学ぶ”失敗しないプロマネ術 ―今だから言える、大規模プロジェクトプロマネあるある―</a>
  /               .scheduleTable_line_speaker
  /                 | by エン・ジャパン株式会社 執行役員 デジタルプロダクト開発本部長 寺田 輝之 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 11:20 - 11:30
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 11:30 - 12:15
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/KeiichiKawai.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/niantic/">グローバル企業におけるプロダクトマネージメント</a>
  /               .scheduleTable_line_speaker
  /                 | by Niantic, Inc. Product Management Director 河合 敬一 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'profile_images/takoratta.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_speaker
  /                 | by Increments株式会社 Qiita Product Manager 及川 卓也 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 12:15 - 13:00
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session-all.break
  /             | Lunch Break
  /           .scheduleTable_line_session-all.break
  /             .scheduleTable_line_speaker
  /               | 参加者全員分のランチをご用意しております。
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:00 - 13:45
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TakeoIyo.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/iyo/">メルカリ流グローバル開発の実態</a>
  /               .scheduleTable_line_speaker
  /                 | by 株式会社メルカリ 執行役員 伊豫 健夫 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:45 - 13:55
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 13:55 - 14:40
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/HiroshiKuraoka.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/coubic/">自分が見てきた Product Manager</a>
  /               .scheduleTable_line_speaker
  /                 | by クービック株式会社 CEO 倉岡 寛 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 14:40 - 14:50
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 14:50 - 15:35
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/RisaTakahashi.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/sonymobile/"> “Team in Center”のプロダクト開発</a>
  /               .scheduleTable_line_speaker
  /                 | by ソニーモバイルコミュニケーションズ株式会社 ソフトウェア開発4部 Camera App課 / UX商品企画2部 エクスペリエンス企画課（兼）Section Manager & Experience Planner 高橋 りさ 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 15:35 - 15:55
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 15:55 - 16:15
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/YuheiNishioka.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/smartnews/">エンジニアからプロダクトマネージャーへ</a>
  /               .scheduleTable_line_speaker
  /                 | by スマートニュース株式会社 Director of Product Management 西岡 悠平 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:15 - 16:35
  /             .scheduleTable_line_time_min
  /              | 20min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/ToshihiroIchitani.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/guildworks/">正しいものを、正しくつくる</a>
  /               .scheduleTable_line_speaker
  /                 | by ギルドワークス株式会社 代表 市谷 聡啓 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:35 - 16:45
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 16:45 - 17:30
  /             .scheduleTable_line_time_min
  /              | 45min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'speakers/TaiWatanabe.jpeg', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/watanabe/">外資系企業におけるPMの役割と求められるスキルセット</a>
  /               .scheduleTable_line_speaker
  /                 | by メディアプローブ株式会社 渡辺 泰 氏
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 17:30 - 17:40
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 17:40 - 18:20
  /             .scheduleTable_line_time_min
  /              | 40min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'pmconf_ico.png', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | <a href="http://pmconf.jp/sessions/2016/10/03/unconference/">プロダクトマネージャー アンカンファレンス</a>
  /               .scheduleTable_line_speaker
  /                 | Japan Product Manager Conference 2016 では、2日目に40分のアンカンファレンス時間を設けています。アンカンファレンスとは参加者主導の発表イベントです。今回は、会場を6つのスペースに分けて実施します。発表枠は、1枠10分となり、最大24名の方が発表できます。<br />発表者と講演内容は、イベント会期中にサインアップ場所へ先着順に記載した方から発表枠が決まります。発表枠を確保した方は、各スペースでご発表いただきます。発表をご希望の方は、発表資料と発表用PCをご準備ください。
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:20 - 18:30
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session-all.break
  /             | Break
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:30 - 18:40
  /             .scheduleTable_line_time_min
  /              | 10min
  /           .scheduleTable_line_session
  /             .scheduleTable_line_speakerIcon
  /               = image_tag 'pmconf_ico.png', width: '100', height: '100'
  /             .scheduleTable_line_descriptions
  /               .scheduleTable_line_title
  /                 | Day 2 Closing
  /         .scheduleTable_line
  /           .scheduleTable_line_time
  /             | 18:40 - 19:30
  /             .scheduleTable_line_time_min
  /              | 50min
  /           .scheduleTable_line_session-all
  /             | <a href="http://pmconf.jp/sessions/2016/10/03/networking/">Networking Party</a> #2
