| <script type="x-shader/x-vertex" id="vertex-shader">
|   precision mediump float;
|
|   attribute float rotation;
|   attribute float times;
|
|   uniform float u_time;
|
|   varying float v_mod_time;
|
|   mat4 scaleMatrix(float scale_x, float scale_y, float scale_z) {
|         return mat4(
|             scale_x, 0., 0., 0.,
|             0., scale_y, 0., 0.,
|             0., 0., scale_z, 0.,
|             0., 0., 0., 1.
|         );
|   }
|
|   mat4 rotationMatrix(vec3 axis, float angle) {
|         axis = normalize(axis);
|         float s = sin(angle);
|         float c = cos(angle);
|         float oc = 1.0 - c;
|
|         return mat4(
|             oc * axis.x * axis.x + c,
|             oc * axis.x * axis.y - axis.z * s,
|             oc * axis.z * axis.x + axis.y * s,
|             0.0,
|             oc * axis.x * axis.y + axis.z * s,
|             oc * axis.y * axis.y + c,
|             oc * axis.y * axis.z - axis.x * s,
|             0.0,
|             oc * axis.z * axis.x - axis.y * s,
|             oc * axis.y * axis.z + axis.x * s,
|             oc * axis.z * axis.z + c,
|             0.0,
|             0.0,
|             0.0,
|             0.0,
|             1.0
|         );
|   }
|
|   void main() {
|
|         vec3 _position = position;
|         _position.y += 10.;
|
|         float r1 = fract(sin(dot(_position.yz ,vec2(12.9898,78.233))) * 43758.5453) - .5;
|         float r2 = fract(sin(dot(_position.yz ,vec2(112.9898,178.233))) * 43758.5453) - .5;
|
|         float elapsed_time = u_time - times;
|         float mod_time = mod(elapsed_time / 5., 1.);
|         v_mod_time = mod_time;
|
|         _position.x += r1 * mod_time * 1. + sin(mod_time * 6. + r1 * 3.) * .5;
|         _position.y += -40. * mod_time;
|         _position.z += r2 * mod_time * 1. + sin(mod_time * 24. + r2 * 3.) * .5;
|
|         vec4 mvPosition = modelViewMatrix * vec4(_position, 1.);
|
|         float _rotation = rotation;
|         _rotation += mod_time * 2.;
|
|         vec2 mvPositionOffset = vec2(1., 1.);
|         mvPositionOffset *= mat2(
|             cos(_rotation), -sin(_rotation),
|             sin(_rotation), cos(_rotation)
|         );
|         mvPosition.xy += mvPositionOffset;
|
|         gl_Position = projectionMatrix * mvPosition;
|   }
| </script>
|
| <script type="x-shader/x-fragment" id="fragment-shader">
| precision mediump float;
|
| varying float v_mod_time;
|
| void main() {
|         float opacity = smoothstep(.1, .5, v_mod_time) - smoothstep(.5, .7, v_mod_time);
|         float blue = sin(v_mod_time);
|
|         gl_FragColor = vec4(opacity, 0.9, 0.8, opacity * 0.6);
|
| }
| </script>
.commonHeader.white
  .container
    = link_to '/', class: 'commonHeader_siteLogo' do
      h1.commonHeader_siteLogo

    nav.commonHeaderNavigation
      ul.list-unstyled
        / li.commonHeaderNavigation_list = link_to '記事一覧', '/articles'
        / li.commonHeaderNavigation_list = link_to 'Tips', '/tips'
        / li.commonHeaderNavigation_list = link_to 'ロゴデータ', '/resources'
        / li.commonHeaderNavigation_list = link_to '取材・情報発信', '/publishing-guideline'
        li.commonHeaderNavigation_list
          = link_to 'https://sendaiitfes.doorkeeper.jp/events/upcoming', class: 'commonHeaderNavigation_signup', title: 'Doorkeeperで申込み', target: '_blank' do
            i.fa.fa-external-link
            | &nbsp;
            | 参加申込み
        li.commonHeaderNavigation_list = link_to 'タイムテーブル', '/schedule'
        / li.commonHeaderNavigation_list = link_to '公開資料まとめ', '/documents'
        li.commonHeaderNavigation_list = link_to '運営', '/staff'

.head-contents
  .videoWrapper
    video#videos.onlyPC[autoplay muted playsinline]
      source[src="assets/images/header2.mp4"]
        p
          | 動画を再生するには、videoタグをサポートしたブラウザが必要です。
  .wrapper
  .headerAnime.onlySP
    img.loopImg[src="assets/images/header.gif"]
  .logo
    img.onlyPC[src="assets/images/logo.png" alt=""]
    img.onlySP[src="assets/images/logo_sp.png" alt=""]
  .countdown.cf
    .countdown_wrapper.cf
      .countdowntext
        img[src="assets/images/countdown_txt_1.png" alt="仙台IT文化祭 開催まで"]
      #day
        .box
          .top
            | 01
          .top2
            | 00
        .box2
          .bottom
            | 00
          .bottom2
            | 01
      .colon
        | days
      #hour
        .box
          .top
            | 01
          .top2
            | 00
        .box2
          .bottom
            | 00
          .bottom2
            | 01
      .colon
        | hour
      #min
        .box
          .top
            | 01
          .top2
            | 00
        .box2
          .bottom
            | 00
          .bottom2
            | 01
      .colon
        | min
      #sec
        .box
          .top
            | 01
          .top2
            | 00
        .box2
          .bottom
            | 00
          .bottom2
            | 01
      .colon.last
        | sec
      .clear.cf

.largeHeader
  .containers
    .largeHeader_signup
      = link_to 'https://sendaiitfes.doorkeeper.jp/events/upcoming', class: 'largeHeader_signup_button', title: 'Doorkeeperで申込み', target: '_blank' do
       i.fa.fa-external-link
       | &nbsp;
       | 参加申込み

section.section
  .container
    h2.section_title 仙台IT文化祭 とは
    p.text-center
      | 仙台にある多くのIT企業を巻き込み、
      br/
      | 東北大学のキャンパスを使って2日間行われる、
      br/
      | テクニカルなお祭りである。

section.section
  .container
    h2.section_title 実行委員会からのメッセージ
    p.text-center
      | 仙台IT文化祭とは、東北最大級のITのお祭りです。
    p.text-center
      | 東日本大震災から6年が経ちました。復興のペースは地域によりさまざまではありますが、
      br/
      | 私たちは復興から次なるステージへと、歩みつつあります。
    p.text-center
      | 昨年2016/06/18(土) 『マイクロソフト製品の匠による東北復興支援イベント Rebirth! 東北』を開催。300名以上の学生／社会人の皆さまに参加いただき、大変盛り上がりました。参加者からは「是非、継続してこのようなイベントを開催してほしい」という声を多くいただくと同時に、復興から次なるステージへと歩む必要があるとの指摘もいただきました。次なるステージに歩むきっかけが、私たちにはまだまだ必要です。
    p.text-center
      | そのきっかけとすべく、東北最大級のITのお祭りを、若者と地元企業が中心となって開催いたします。仙台IT文化祭が、参加者の皆さまにとって実りのあるものにするためには、多くの方々のご協力が必要となります。是非皆さんで、仙台IT文化祭を大いに盛り上げていきましょう！よろしくお願いいたします。

section.section
 .container
   h2.section_title 開催概要
   .row
     .col-sm-6
       <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyA752IhT1WuIsrSVesJ6U08Cm6qgsRhqbI"></script>
       <script type="text/javascript">google.maps.event.addDomListener(window,'load',function(){var lat = 38.25734038026737;var lng = 140.85221529006958;var latlng = new google.maps.LatLng(lat, lng);var map = document.getElementById('map');var options = {zoom: 16,center: latlng,mapTypeId: google.maps.MapTypeId.ROADMAP,scrollwheel: false};var mapObj = new google.maps.Map(map, options);var marker = new google.maps.Marker({position: latlng,map: mapObj});});</script>
       <div id="map" style="width:100%; height: 300px;"></div>
     .col-sm-6.section_body
       dl.section_eventNote
         dt
           i.fa.fa-fw.fa-calendar
           | &nbsp;
           | 開催日時
         dd
           span.date
             | 2017/10/28(土) - 29日(日)
           span.time
             | 10:00 - 18:00
         dt
           i.fa.fa-fw.fa-map-marker
           | &nbsp;
           | 開催場所
         dd
           | 東北大学川内南キャンパス
           br/
           | 〒980-8576仙台市青葉区川内27-1
           br/
           | 東北大学川内南キャンパス(C19)文科系総合講義棟1F&2F
         dt
           i.fa.fa-fw.fa-users
           | &nbsp;
           | 参加対象
         dd
           | 意思決定者、IT管理職、IT担当職、開発者、エンドユーザー、パートナー、営業職、事務職
           br/
           | 文理問わず大学生、高等専門学校生、短期大学生、専門学校生、中学生、小学生高学年
         dt
           i.fa.fa-fw.fa-building
           | &nbsp;
           | 参加人数
         dd
           | 1,000名
         dt
           i.fa.fa-fw.fa-calculator
           | 参加費
         dd
           | 無料
         dt
           i.fa.fa-fw.fa-tag
           | 公式ハッシュタグ
         dd
           a href="https://twitter.com/search?f=tweets&vertical=default&q=sendaiitfes&src=typd" #sendaiitfes

section.section
  .container
    h2.section_title SESSIONS
    .speakers
      .speakers_timetable
        .speakers_timetable_item
          | [IT特別講義] IoT学科
        .speakers_timetable_item
          | [IT特別講義] IT妄想学科
        .speakers_timetable_item
          | [IT特別講義] アプリケーション学科
        .speakers_timetable_item
          | [IT特別講義] クラウド学科
        .speakers_timetable_item
          | [IT特別講義] .NET学科
        .speakers_timetable_item
          | [IT特別講義] OSS/Java学科
        .speakers_timetable_item
          | [IT特別講義] 俺達のOffice学科
        .speakers_timetable_item
          | [IT特別講義] 生産性・モチベーション向上学科
        .speakers_timetable_item
          | [IT特別講義] HoloLens学科
        .speakers_timetable_item
          | [IT掲示板] IT体験展示
        .speakers_timetable_item
          | [IT掲示板] 大人IT展示
        .speakers_timetable_item
          | [IT掲示板] 学生IT展示
        .speakers_timetable_item
          | [ITゼミ] 大人ITゼミ
        .speakers_timetable_item
          | [ITゼミ] 学生ITゼミ
        .speakers_timetable_item
          | [ITゼミ] こどもITゼミ
        .speakers_timetable_item
          | [IT部活] 学生IT部活
        .speakers_timetable_item
          | [IT物販]
        .speakers_timetable_item
          | [IT学食]
        .speakers_timetable_item
          | [ITスタンプラリー]
      .speakers_text
        | 東北最大級のITのお祭りにふさわしいコンテンツの数々について、様々な側面から切り取ったテーマに沿って、それぞれの領域のプロたちに登壇いただきます。
        | マイクロソフト製品の匠であるMicrosoft MVP/ Microsoft Japan Regional Director、Microsoft Technical Evangelist、および各種ITコミュニティのリーダーたちが、日本全国各地から集結し、仙台の皆さま、東北の皆さまを対象に、IT業界の最新情報、ITを活用した働き方改革などを共有する「<span style="font-weight:bold">IT特別講義</span>」をはじめ、仙台をはじめとした企業におけるITを活用した仕事の進め方を展示する「<span style="font-weight:bold">IT掲示板</span>」、ワークショップ形式で体験いただきながらITの世界に触れていただく「<span style="font-weight:bold">ITゼミ</span>」、ITを活用した催し物や見世物、デモ、体験会、オブジェ、撮影素材提供、3D上映、室内で可動可能なロボットや機械を使った演出など、派手なパフォーマンスを間近で見ていただきながらITの世界に触れていただける「<span style="font-weight:bold">IT部活</span>」など、多彩なプログラムが満載の2日間です。

      .speakers_schedulelink
        = link_to '/schedule', class: 'btn' do
          i.fa.fa-arrow-circle-right
          | &nbsp;
          | タイムテーブルを見る

section.section
  .container
    h2.section_title SPEAKERS
    .speakers
      .speakers_list
        - if data.speakers.normals.present?
          - data.speakers.normals.each do |normals|
            .speakers_list_item
              = image_tag normals.profile_image_url, class: 'speakers_list_image'
              .speakers_list_name = normals.name
              - if normals.microsoftmvpcategoly.present?
                .speakers_list_microsoftmvpcategoly = "Microsoft MVP for " + normals.microsoftmvpcategoly
              .speakers_list_organization = normals.organization
              .speakers_list_title = normals.title

      .speakers_schedulelink
        = link_to '/schedule', class: 'btn' do
          i.fa.fa-arrow-circle-right
          | &nbsp;
          | タイムテーブル を確認する
/       .speakers_schedulelink
/         = link_to '/documents', class: 'btn' do
/           i.fa.fa-arrow-circle-right
/           | &nbsp;
/           | 公開資料まとめ を確認する


/ Articles Block
/ section.section
/   .container
/     h2.section_title 新着記事
/     - page_articles('articles').each do |article|
/       article.information
/         h1.information_title = link_to article.title, article.url
/         time.information_time = article.date.strftime('%Y/%m/%d')

section.section
  .container
    h2.section_title OUR SPONSORS
    h3.sponsors_title PLATINUM SPONSORS
    .sponsors_list
      - data.sponsors.platina.each do |platina|
        = link_to image_tag(platina.logo_image_url), platina.url, class: 'sponsors_list_item-platina', target: '_blank', title: platina.name, 'data-toggle' => 'tooltip'
    h3.sponsors_title GOLD SPONSORS
    .sponsors_list
      - data.sponsors.golds.each do |golds|
        = link_to image_tag(golds.logo_image_url), golds.url, class: 'sponsors_list_item-golds', target: '_blank', title: golds.name, 'data-toggle' => 'tooltip'
    h3.sponsors_title LOGO SPONSORS
    .sponsors_list
      - data.sponsors.logos.each do |logos|
        = link_to image_tag(logos.logo_image_url), logos.url, class: 'sponsors_list_item-logos', target: '_blank', title: logos.name, 'data-toggle' => 'tooltip'

    .sponsors_description
      h4 スポンサーについて
      p 仙台IT文化祭 2017 では、本カンファレンスにご協賛いただけるスポンサー企業を募集しております。仙台IT文化祭を支える企業として、自社をアピールできるまたとない機会です。協賛プログラムの詳細については、以下の資料をご参照ください。皆様のご支援をお待ちしております。
      = link_to 'http://2017.sendaiitfes.org/assets/files/sendaiitfes_letter_2017.pdf', target: '_blank', rel: 'nofollow'
        i.fa.fa-file-pdf-o
        | &nbsp;
        | 仙台IT文化祭2017 開催のご案内
        br/
      = link_to 'http://2017.sendaiitfes.org/assets/files/sendaiitfes_sponsorship_letter_2017.pdf', target: '_blank', rel: 'nofollow'
        i.fa.fa-file-pdf-o
        | &nbsp;
        | 仙台IT文化祭2017 ご協賛のお願い
        br/
      = link_to 'http://2017.sendaiitfes.org/assets/files/rebirthtohoku_report_2016.pdf', target: '_blank', rel: 'nofollow'
        i.fa.fa-file-pdf-o
        | &nbsp;
        | Rebirth!東北 2016 開催のご報告

/     - if data.sponsors.silvers.present?
/       h3.sponsors_title SILVER SPONSORS
/       .sponsors_list
/         - data.sponsors.silvers.each do |silvers|
/           = link_to image_tag(silvers.logo_image_url), silvers.url, class: 'sponsors_list_item-silvers', target: '_blank', title: silvers.name, 'data-toggle' => 'tooltip'
/     h3.sponsors_title DRINK SPONSORS
/     .sponsors_list
/       - data.sponsors.drinks.each do |drinks|
/         = link_to image_tag(drinks.logo_image_url), drinks.url, class: 'sponsors_list_item-drinks', target: '_blank', title: drinks.name, 'data-toggle' => 'tooltip'
/     h3.sponsors_title 👕 T-SHIRTS SPONSOR
/     .sponsors_list
/       - data.sponsors.goods.each do |goods|
/         = link_to image_tag(goods.logo_image_url), goods.url, class: 'sponsors_list_item-goods', target: '_blank', title: goods.name, 'data-toggle' => 'tooltip'
/     h3.sponsors_title MEDIA SPONSORS
/     .sponsors_list
/       - data.sponsors.medias.each do |medias|
/         = link_to image_tag(medias.logo_image_url), medias.url, class: 'sponsors_list_item-medias', target: '_blank', title: medias.name, 'data-toggle' => 'tooltip'

section.section
  .container
    h2.section_title OFFICIAL COMMUNITIES
    .sponsors_list
      - data.sponsors.communities.each do |communities|
        = link_to image_tag(communities.logo_image_url), communities.url, class: 'sponsors_list_item-drinks', target: '_blank', title: communities.name, 'data-toggle' => 'tooltip'

section.section.hidden-xs
  .container
    .row
      .col-sm-6
        aside
          <div class="fb-page" data-href="https://www.facebook.com/sendaiitfes/" data-width="500px" data-height="400px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sendaiitfes/"><a href="https://www.facebook.com/sendaiitfes/">sendaiitfes 2017</a></blockquote></div></div>

      .col-sm-6
        aside
          <a class="twitter-timeline" data-height="400" href="https://twitter.com/sendaiitfes">Tweets by pmconfjp</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


/section.section
/  .container
/    .row
/      #instafeed

section.section
  .container
    h2.section_title 主催
    h4.text-center 仙台IT文化祭実行委員会
    p.text-center
      = link_to '実行委員一覧', '/staff'
    h3.section_title 共催
    h4.text-center 仙台市

    .sponsorsText
      h4.text-center お問い合わせ先
      p
        | 仙台IT文化祭事務局:
        | &nbsp;
        i.fa.fa-envelope-o
        =< link_to 'fullvirtue@vivaceplus.com', 'mailto:fullvirtue@vivaceplus.com', target: '_blank'
    .sponsorsText
      p
        | Designed by #{link_to 'htomine', 'https://github.com/htomine', target: '_blank'} from Increments Inc.
        br
        | Hosted by #{link_to 'GitHub', 'https://github.com/fullvirtue/sendaiitfes2017', target: '_blank'}
    .socialBtns
      .socialBtns_facebook
        <div class="fb-like" data-href="http://2017.sendaiitfes.org/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      .socialBtns_twitter
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="sendaiitfes">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
